.store-title-help, .store-title-balance {
  display: block;
  text-align: right;
}

.store-title-balance>h1 {
  margin: 0;
  font-size: 2.4rem;
}

.store-title-balance>h1>small {
  color: inherit;
  padding-right: 0.2rem;
}