.store-item>a {
  display: flex;
}

.store-item img {
  height: 8rem;
  transform: rotate(-40deg);
  margin: 0 3rem;
}

.store-item-description {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.store-item-description p {
  margin: auto 0;
  font-size: 2.1rem;
}