.history-item {
}

.history-item-timestamp {
    text-align: center;
    font-size: 1rem;
}

.history-item-details {
    display: flex;
    align-items: center;
    height: 100%;
}

.history-item-image {
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
}

.history-item-info {
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}
