.profile-badge {
  border-bottom: 1px solid black;
  margin: 0 -1rem;
  padding: 0 1rem;
  height: 10rem;
  display: flex;
}

.profile-badge-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-badge-details-email {
  margin: auto auto auto 1rem;
}

.profile-badge-details-email>h3 {
  margin: 0;
}

.profile-badge-action {
  font-size: 2.1rem;
  align-self: center;
}

.profile-actions {
  border: 1px solid black;
  border-width: 1px 0;
  margin: 2.1rem -1rem;
  font-size: 2.1rem;
  padding-left: 2.1rem;
  list-style-type: none;
}

.profile-actions>li>a {
  display: block;
}

.profile-actions>li {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.profile-actions>li:last-child {
  border-bottom: none;
}

.profile-store {
  border: 1px solid black;
  border-width: 1px 0;
  margin: 2.1rem -1rem;
  padding: 0 1rem;
}
