.profile-badge {
  border-bottom: 1px solid black;
  margin: 0 -1rem;
  padding: 0 1rem;
  height: 10rem;
  display: flex;
}

.profile-badge-image {
  height: 6rem;
  width: 6rem;
  margin: 0 1rem 0 2.4rem;
  border-radius: 3rem;
  font-size: 2.4rem;
  line-height: 6rem;
  text-align: center;
  align-self: center;
}


.profile-badge-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-badge-details-name {
  font-size: 2.4rem;
  margin: auto auto 0 0;
}

.profile-badge-details-email {
  margin: 0 auto auto 0;
}

.profile-badge-action {
  font-size: 2.4rem;
  align-self: center;
}

.profile-info, .profile-actions {
  border: 1px solid black;
  border-width: 1px 0;
  margin: 2.4rem -1rem;
  font-size: 2.4rem;
  padding-left: 2.4rem;
  list-style-type: none;
}

.profile-info>li, .profile-actions>li {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.profile-info>li:last-child, .profile-actions>li:last-child {
  border-bottom: none;
}
