.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}

.item-image {
  flex: 1;
  margin: 20%;
  background-position: center;
  background-repeat: no-repeat;
}