.hands .st0 { fill:#3F5D73; }
.hands .st1 { fill:#0E2A3E; }
.hands .st2 { fill:#F28159; }
.hands .st3 { fill:#BCBEC0; }
.hands .st4 { fill:#FFFFFF; }
.hands .st5 { opacity:0.4; }
.hands .st6 { fill:#231F20; }
.hands .st7 { fill:#DD603A; }
.hands .st8 { fill:#43BDD7; }
.hands .st9 { fill:#39A1B7; }
.hands .st10 { fill:#FFCD00; }
.hands .st11 { fill:#EDAB07; }
.hands .st12 { fill:#308A8E; }
.hands .st13 { fill:#E6E7E8; }
.hands .st14 { fill:#909191; }
.hands .st15 { fill:#485656; }
.hands .st16 { opacity:0.3; }
.hands .st17 { fill:#C1E9F7; }
.hands .st18 { fill:#3793A5; }
.hands .st19 { fill:#328193; }

.hands [id^="hand"] {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5,.5,.5,.5);
  will-change: transform;
}

.hands #hand1 { animation-name: slide-1; }
.hands #hand2 { animation-name: slide-2; }
.hands #hand3 { animation-name: slide-3; }

@keyframes slide-1 {
  from {
    transform: translateY(180px)
  }
  6% {
    transform: translateY(0px)
  }
  12% {
    transform: translateY(20px)
  }
  to {
    transform: translateY(20px)
  }
}

@keyframes slide-2 {
  from {
    transform: translateY(180px)
  }
  8% {
    transform: translateY(0px)
  }
  13% {
    transform: translateY(20px)
  }
  to {
    transform: translateY(20px)
  }
}

@keyframes slide-3 {
  from {
    transform: translateY(180px)
  }
  6% {
    transform: translateY(0px)
  }
  14% {
    transform: translateY(20px)
  }
  to {
    transform: translateY(20px)
  }
}
