.item-success {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.item-success-detail {
    margin-bottom: 6rem;
}

.item-success-detail-image {
    margin: 0 -1rem;
    background: 
    url(./assets/hand-fg.svg) right center no-repeat,
    url(./assets/hand-bg.svg) right center no-repeat;
    display: flex;
    justify-content: flex-end;
}

.item-success-detail-image>img {
    height: 12rem;
    position: relative;
    right: 9em;
}
