.topup-success {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.topup-success>h2 {
    margin: auto 0;
}

.topup-success>img {
    height: 12rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.topup-success-balance>h1 {
    font-size: 7.2rem;
    margin: 0;
}

.topup-success-balance {
    margin: auto 0;
}