.chrome-list {
  list-style: none;
  padding: 0 1rem;
  margin: 0 -1rem;
  border-bottom: 1px solid black;
}

.chrome-list>li {
  border-bottom: 1px solid black;
  padding: 1rem 0;
}

.chrome-list>li:last-of-type {
  border-bottom: none;
}