.chrome-nav-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.chrome-nav-bar>div {
  display: flex;
  height: 5.9rem;
  margin-top: 0.1rem;
}

.chrome-nav-bar>div>a {
  display: block;
  flex: 1;
  text-align: center;
}

.chrome-nav-bar>div>a::before {
  content: '#';
  font-size: 2.5rem;
  display: block;
}