.chrome-nav-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6rem;
  display: flex;
  border-top: 1px solid black;
}

.chrome-nav-bar>a {
  display: block;
  margin: auto 0;
  flex: 1;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.chrome-nav-bar-icon-store,
.chrome-nav-bar-icon-history,
.chrome-nav-bar-icon-profile,
.chrome-nav-bar-icon-help {
  margin: 0 auto;
  width: 5.7rem;
  height: 3.6rem;
  display: block;
  background-repeat: no-repeat;
}

.chrome-nav-bar-icon-help {
  background-image: url(./assets/help-unselected.svg);
}

.chrome-nav-bar-icon-history {
  background-image: url(./assets/history-unselected.svg);
}

.chrome-nav-bar-icon-profile {
  background-image: url(./assets/profile-unselected.svg);
}

.chrome-nav-bar-icon-store {
  background-image: url(./assets/store-unselected.svg);
}

.chrome-nav-bar-active>.chrome-nav-bar-icon-help {
  background-image: url(./assets/help-selected.svg);
}

.chrome-nav-bar-active>.chrome-nav-bar-icon-history {
  background-image: url(./assets/history-selected.svg);
}

.chrome-nav-bar-active>.chrome-nav-bar-icon-profile {
  background-image: url(./assets/profile-selected.svg);
}

.chrome-nav-bar-active>.chrome-nav-bar-icon-store {
  background-image: url(./assets/store-selected.svg);
}
