.chrome-page {
  height: 100%;
}

.chrome-page-title-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid black;
  z-index: 1;
}
.chrome-page-title-bar-middle {
  text-align: center;
  flex: 1;
  align-self: center;
}

.chrome-page-title-bar-middle>h1 {
  font-size: 2.4rem;
  margin: 0;
}

.chrome-page-title-bar-middle>h2 {
  font-size: 1.4rem;
  margin: 0;
}

.chrome-page-title-bar-right, .chrome-page-title-bar-left {
  align-self: center;
  width: 20%;
  user-select: none;
}

.chrome-page-section {
  font-size: 1.4rem;
  margin-top: 6rem; /* title-bar height */
  margin-bottom: 6rem; /* nav-bar height */
  padding: 0 1rem;
  width: 100%;
  overflow: hidden;
}

.chrome-page-section-fullscreen {
  margin-bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.chrome-page-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
}

.chrome-page-loading>h1 {
  margin: auto;
}

.chrome-page-loading-items>svg {
  position: absolute;
  height: 8rem;
  left: 50%;
  margin-left: -50px;
  transform: translateZ(1px);
  transform-origin: 50% 50%;
  will-change: transform;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.chrome-page-loading-items>svg:nth-child(6n+0) {
  animation-name: chrome-page-loading-falling-cw;
  animation-duration: 5s;
  left: 20%;
}

.chrome-page-loading-items>svg:nth-child(6n+1) {
  animation-name: chrome-page-loading-falling-ccw;
  animation-duration: 3s;
  animation-delay: -2s;
  height: 6rem;
  z-index: -2;
  left: 32%;
}

.chrome-page-loading-items>svg:nth-child(6n+2) {
  animation-name: chrome-page-loading-falling-cw;
  animation-duration: 5s;
  animation-delay: -2s;
  left: 44%;
}

.chrome-page-loading-items>svg:nth-child(6n+3) {
  animation-name: chrome-page-loading-falling-cw;
  animation-duration: 3s;
  animation-delay: -0.5s;
  height: 4rem;
  z-index: -3;
  left: 56%;
}

.chrome-page-loading-items>svg:nth-child(6n+4) {
  animation-name: chrome-page-loading-falling-cw;
  animation-duration: 8s;
  animation-delay: -1s;
  height: 6rem;
  z-index: -2;
  left: 68%;
}

.chrome-page-loading-items>svg:nth-child(6n+5) {
  animation-name: chrome-page-loading-falling-ccw;
  animation-duration: 4s;
  animation-delay: -0.5s;
  left: 80%;
}

@keyframes chrome-page-loading-falling-cw {
  from {
    transform: translateZ(1px) translateY(-100%) rotate(0);
  }
  to {
    transform: translateZ(1px) translateY(100vh) rotate(+360deg);
  }
}

@keyframes chrome-page-loading-falling-ccw {
  from {
    transform: translateZ(1px) translateY(-100%) rotate(0);
  }
  to {
    transform: translateZ(1px) translateY(100vh) rotate(-360deg);
  }
}