html.loaded {
  /* revert index.html inline styles */
  height: 100%;
  background: none;
}

html.loaded>body, #root {
  height: 100%;
  background: #F8F9FA; /* .bg-silver */
}

textarea, input[type] {
  -webkit-appearance: none;
}

input[type=radio] {
  -webkit-appearance: radio;
}

.btn {
  -webkit-tap-highlight-color: transparent;
  border-radius: 5px;
  font-weight: normal;
}

.btn:focus {
  box-shadow: none;
}

.grayscale {
  filter: grayscale();
}
