header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header>div {
  height: 5.9rem;
  margin-bottom: 0.1rem;
  overflow: hidden; /* prevent margin collapse */
  text-align: center;
}

header>div>h1 {
  font-size: 2.4rem;
  margin: 0.5rem;
}

header>div>h2 {
  font-size: 1.4rem;
  margin: 0;
}