{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error", "always"],
    "no-undef": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}
